*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    max-width: 100%;
    background-color:#163300;
}

.img-logo{
    width: 40vh;
    display: block;
    margin: 5% auto;
}
h1{
    width: 550px;
    font-size: 50px;
    font-weight: 900;
    color: #9FE870;
    margin: 1% 25vw;
    display: block;
    align-items: center;
}
