* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    max-width: 100%;
    background-color: #163300;
}

.img-logo {
    width: 40vh;
    display: block;
    margin: 1% auto;
}

h1 {
    width: 440px;
    font-size: 40px;
    font-weight: 900;
    color: #9FE870;
    margin: 1% 30vw;
   text-align: center;
}

main {
    width: 350px;
    border-radius: 20px;
    border: 1px #9FE870 solid;
    background-color: #F4F4F4;
    margin: 0 auto;
    padding: 44px 25px 25px;
}